{% extends 'layout.html' %}

{% block navigation %}
    <div style="display:inline-block;vertical-align: top; width:19%">
        <h2>Navigation</h2>

        <div>
            <a href={{ home }}>Home</a>
         </div>

        {% for category in categories%}
            <div>
                <a href={{ server }}{{ category[1] }}>{{ category[1] }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div style="display: inline-block;overflow-y: scroll;height: inherit; width:80%">
    <h2>Latest Catalog Items</h2>
    {% for latest_item in latest_items %}
        <div style="margin-bottom: 10px">
            <div>
                <h3>{{ latest_item[0] }}</h3>
            </div>
            <div>
                {{ latest_item[1] }}
            </div>
            <div>
                {{ latest_item[2] }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}