{% extends 'layout.html' %}

{% block navigation %}
    <div style="display:inline-block;vertical-align: top; width:19%">
        <h2>Navigation</h2>

        <div>
            <a href={{ home }}>Home</a>
         </div>

        {% for category in categories%}
            <div>
                <a href={{ server }}{{ category.name }}>{{ category[1] }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block content %}
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

    <form action="{{ url_for('add_category') }}" method=post class=add-entry>


        <dt>{{ form.category_name.label }}</dt>
        <dd>{{ form.category_name }}</dd>

        <dt>{{ form.id }}</dt>
        <dd>{{ form.email }}</dd>

        <dd>{{ form.submit }}</dd>

    </form>

{% endblock %}