{% extends 'layout.html' %}

{% block navigation %}
        <h2>Navigation</h2>
        <div>
            <a href={{ home }}>Home</a>
         </div>

        {% for category in categories%}
            <div>
               <a href=/category/{{category.category_name}}> {{ category.category_name }}</a>
            </div>
        {% endfor %}
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

    <form action="{{ url_for('add_item') }}" enctype="multipart/form-data" method=post class=add-entry>
        <div class="form-group">

        <dt>{{ form.name.label(class_="label label-default") }}</dt>
        <dd>{{ form.name(class_='form-control')  }}</dd>

        <dt>{{ form.category_select.label(class_="label label-default") }}</dt>
        <dd>{{ form.category_select(class_='form-control')  }}</dd>

        <dt>{{ form.description.label(class_="label label-default") }}</dt>
        <dd>{{ form.description(class_='form-control')  }}</dd>

        <dt>{{ form.picture.label(class_="label label-default") }}</dt>
        <dd>{{ form.picture()  }}</dd>

        {{ form.id }}
        {{ form.category_id }}


        <dd>{{ form.submit(class_="form-control btn btn-default") }}</dd>

        </div>

    </form>
{% endblock %}