{% extends 'layout.html' %}

{% block content %}
    <h2>Delete Item?</h2>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    <form action={{url_for('delete_item')}} method=post class=add-entry>


        <dt>{{ form.name.label }}</dt>
        <dd>{{ form.name(readonly=true) }}</dd>

        <dt>{{ form.description.label }}</dt>
        <dd>{{ form.description(readonly=true) }}</dd>

        {{ form.id }}
        {{ form.category_name }}

        <dd>{{ form.submit }}</dd>

    </form>
{% endblock %}