{% extends 'layout.html' %}

{% block navigation %}
    <div style="display:inline-block;vertical-align: top; width:19%">
        <h2>Navigation</h2>

        <div>
            <a href={{ home }}>Home</a>
         </div>


    </div>
{% endblock %}

{% block content %}
    <div style="display: inline-block">
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

    <form action={{ url_for('edit_item2') }} method='post'>


        <dt>{{ form.name.label }}</dt>
        <dd>{{ form.name }}</dd>

        <dt>{{ form.description.label }}</dt>
        <dd>{{ form.description }}</dd>

        <dt>{{ form.picture.label }}</dt>
        <dd>{{ form.picture }}</dd>

        <dt>{{ form.submit }}</dt>

    </form>

{% endblock %}
  </div>