{% extends 'layout.html' %}

{% block navigation %}
        <h2>Navigation</h2>
        <div>
            <a href={{ home }}>Home</a>
         </div>
{% endblock %}

{% block content %}
    <h2>{{ Heading }}</h2>
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

    <form action={{ url_for('edit_item') }} enctype="multipart/form-data" method='post'>
         <div class="form-group">

        <dt>{{ form.name.label(class_="label label-default") }}</dt>
        <dd>{{ form.name(class_='form-control') }}</dd>

        <dt>{{ form.category_select.label(class_="label label-default") }}</dt>
        <dd>{{ form.category_select(class_='form-control') }}</dd>

        <dt>{{ form.description.label(class_="label label-default") }}</dt>
        <dd>{{ form.description(class_='form-control') }}</dd>

        <dt>{{ form.picture.label(class_="label label-default") }}</dt>
        <dd>{{ form.picture(class_="form-control btn btn-default") }}</dd>
        {{ form.id }}
{#        {{ form.category_id }}#}
             {{ form.csrf_token }}
        <dt>{{ form.submit(class_="form-control btn btn-default") }}</dt>
</div>
    </form>

{% endblock %}