{% extends 'layout.html' %}

{% block navigation %}
        <h2>Navigation</h2>
        <div>
            <a href={{ home }}>Home</a>
         </div>
{% endblock %}

{% block content %}
    <h2>{{ Heading }}</h2>
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

    <form action={{ url_for('edit_item') }} enctype="multipart/form-data" method='post'>


        <dt>{{ form.name.label }}</dt>
        <dd>{{ form.name }}</dd>

        <dt>{{ form.description.label }}</dt>
        <dd>{{ form.description }}</dd>

        <dt>{{ form.picture.label }}</dt>
        <dd>{{ form.picture }}</dd>
        {{ form.id }}
        {{ form.category_id }}
        <dt>{{ form.submit }}</dt>

    </form>

{% endblock %}