{% extends 'layout.html' %}

{% block navigation %}
    <div style="display:inline-block;vertical-align: top; width:15%; margin-left: 10px;">
        <h2>Categories</h2>
        {% if not email %}
             <button>Add Category</button>
        {% else %}
            <div class='nav-bar-item'>
                Sign in to edit
            </div>
        {% endif %}
        <div class='nav-bar-item'>
                <a href={{ home }}>Home</a>
        </div>

        {% for category in categories%}
            <div class='nav-bar-item'>
                <a href=/category/{{category.category_name}}> {{ category.category_name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div style="display: inline-block;overflow-y: scroll;height: inherit; width:80%">
    <h2>{{ name }} Catalog Items</h2>
    {% for item in category %}
        <div style="margin-bottom: 10px">
            <div>
                <h3>{{ item.item_name }}</h3>
            </div>
            <div>
                {{ item.description }}
            </div>
            <div>
                {{ item.picture }}
            </div>
            {%  if email == item.owner.email  %}
                <div>
                    {{ item.owner.owner_name }}
                </div>
                <div>
                    {{ item.owner.email }}
                </div>
                <div>
                    <a href='/edit-item/{{ category_number}}/{{item.id}}'>Edit</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}