{% extends 'layout.html' %}

{% block navigation %}
        <h2>Categories</h2>

        <div class='nav-bar-item'>
            {% if email %}
                 <a href=/add-category>Add Category</a>
            {% else %}
                Sign in to edit
            {% endif %}
        </div>

        <div class='nav-bar-item'>
                <a href={{ home }}>Home</a>
        </div>

        {% for category in categories%}
            <div class='nav-bar-item'>
                <a href=/category/{{category.category_name}}>{{ category.category_name }}</a>
            </div>
        {% endfor %}

{% endblock %}

{% block content %}
    <h2>{{ name }} Catalog Items</h2>
    <div><a href=/add-item?category={{category_number}}>Add Item</a></div>
    {% for item in category %}
        <div style="margin-bottom: 10px">
            <div>
                <h3>{{ item.item_name }}</h3>
            </div>
            <div>
                {{ item.description }}
            </div>
            <div>
                {{ item.picture }}
            </div>
            {%  if email == item.owner.email  %}
                <div>
                    <a href=/edit-item?item_id={{item.id}}>Edit</a>
                </div>
                <div>
                    <a href=/delete-item?item_id={{item.id}}>Delete</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}